{% extends 'base.html.twig' %}

{% block title %}Blog Htec{% endblock %}

{% block body %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Htec</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('home') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_article_article') }}">Create new article</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <h1 class="my-4">Blog
          <small>PHP Task</small>
        </h1>

        {% for article in articles %}
            <!-- Blog Post -->
            <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">{{ article.title }}
                    <small>{{ article.category }}</small>
                </h2>
                <p class="card-text">{{ article.content}}</p>
                <a href="{{ path('app_article_show', {id: article.id}) }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on {{ article.created|date('Y-m-d H:i:s') }} by {{ article.author }}
            </div>
            </div>
        {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}
