{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center" style="padding:50px 0">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if clientAnimal is defined %}
                    <h2>Edit:</h2>
                {% else %}
                    <h2>Add new animal:</h2>
                {% endif %}
            </div>
        </div>
        {{ form_start(form, {attr: {'id' : 'article_form', 'class' : 'article_form'}} ) }}
            {% if article is defined %}
                <input type="hidden" name="article_id" id="article_id" value="{{ article.id }}">
            {% endif %}

            {{ form_errors(form) }}
            <div class="form-group row">
                <div class="col-md-2"></div>
                <label for="animal" class="col-md-2 col-form-label" style="padding-top: 7px;">Title</label>
                <div class="col-md-6">
                    {{ form_widget(form.title, {'required' : true, 'attr' : {'class' : 'required form-control'}, 'id':'article_title' }) }}
                    {{ form_errors(form.title) }}
                    <label class="error"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <label for="animal" class="col-md-2 col-form-label" style="padding-top: 7px;">Author</label>
                <div class="col-md-6">
                    {{ form_widget(form.author, {'required' : true, 'attr' : {'class' : 'required form-control'}, 'id':'article_author' }) }}
                    {{ form_errors(form.author) }}
                    <label class="error"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <label for="animal" class="col-md-2 col-form-label" style="padding-top: 7px;">Category</label>
                <div class="col-md-6">
                    {{ form_widget(form.category, {'required' : true, 'attr' : {'class' : 'required form-control'}, 'id':'article_category' }) }}
                    {{ form_errors(form.category) }}
                    <label class="error"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <label for="animal" class="col-md-2 col-form-label" style="padding-top: 7px;">Content</label>
                <div class="col-md-6">
                    {{ form_widget(form.content, {'required' : true, 'attr' : {'class' : 'required form-control'}, 'id':'article_content' }) }}
                    {{ form_errors(form.content) }}
                    <label class="error"></label>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-success form_client_animal_submit" name="submit"><i class="fa fa-pencil"></i>Save</button>
            </div>
        {{ form_end(form) }}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-info" href="{{ path('home') }}">Back</a>
{% endblock body %}