{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="text-center" style="">
            <div class="form-group row">
                <div class="col-md-4"></div>
                <label for="animal" class="col-md-2 col-form-label">Title</label>
                <div class="col-md-4 text-left">
                    {{article.title}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4"></div>
                <label for="animal" class="col-md-2 col-form-label">Author</label>
                <div class="col-md-4 text-left">
                    {{article.author}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4"></div>
                <label for="animal" class="col-md-2 col-form-label">Category</label>
                <div class="col-md-4 text-left">
                    {{article.category }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4"></div>
                <label for="animal" class="col-md-2 col-form-label">Content</label>
                <div class="col-md-4 text-left">
                    {{article.content }}
                </div>
            </div>
        <a class="btn btn-success" href="{{ path('app_article_article', {id: article.id}) }}">Update</a>
        <a class="btn btn-danger" href="{{ path('app_article_delete', {id: article.id}) }}">Delete</a>
        </div>
    <a class="btn btn-info" href="{{ path('home') }}">Back</a>
    </div>
{% endblock body %}